.boton-personalizado {
    background-image: linear-gradient(45deg, #ff6600, #ff3300); /* Color degradado naranja a rojo */
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-image 0.3s, transform 0.2s;
    animation: animarBoton 1s infinite;
  }

  .boton-personalizado:active {
    background-image: linear-gradient(45deg, #006666, #003333); /* Color degradado verde azulado a verde oscuro al ser clicado */
    transform: scale(0.95);
  }

  @keyframes animarBoton {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }