<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css" class="stylesheet">
    <title>Galería de imágenes</title>
</head>
<body>
   <h1>GALERÍA DE IMÁGENES</h1>
   <span class="linea"></span>
   <section class="galeria">
    <a href="#image1"><img src="asets/imagen1.jpg" alt=""></a>
    <a href="#image2"><img src="asets/imagen2.jpg" alt=""></a>
    <a href="#image3"><img src="asets/imagen3.jpg" alt=""></a>
    <a href="#image4"><img src="asets/imagen4.jpg" alt=""></a>
    <a href="#image5"><img src="asets/imagen5.jpg" alt=""></a>
    <a href="#image6"><img src="asets/imagen6.jpg" alt=""></a>

   </section>
    
   <article class="light-box" id="image1">
    <a href="#image6" class="next"><i class="fas fa-arrow-left"></i></a>
    <img src="asets/imagen1.jpg" alt="">
    <a href="#image2" class="next"><i class="fas fa-arrow-right"></i></a>
    <a href="#" class="close">X</a>
   </article>

   <article class="light-box" id="image2">
    <a href="#image1" class="next"><i class="fas fa-arrow-left"></i></a>
    <img src="asets/imagen2.jpg" alt="">
    <a href="#image3" class="next"><i class="fas fa-arrow-right"></i></a>
    <a href="#" class="close">X</a>
   </article>

   <article class="light-box" id="image3">
    <a href="#imagen2" class="next"><i class="fas fa-arrow-left"></i></a>
    <img src="asets/imagen3.jpg" alt="">
    <a href="#image4" class="next"><i class="fas fa-arrow-right"></i></a>
    <a href="#" class="close">X</a>
   </article>

   <article class="light-box" id="image4">
    <a href="#image3" class="next"><i class="fas fa-arrow-left"></i></a>
    <img src="asets/imagen4.jpg" alt="">
    <a href="#image5" class="next"><i class="fas fa-arrow-right"></i></a>
    <a href="#" class="close">X</a>
   </article>

   <article class="light-box" id="image5">
    <a href="#image4" class="next"><i class="fas fa-arrow-left"></i></a>
    <img src="asets/imagen5.jpg" alt="">
    <a href="#image6" class="next"><i class="fas fa-arrow-right"></i></a>
    <a href="#" class="close">X</a>
   </article>

   <article class="light-box" id="image6">
    <a href="#image5" class="next"><i class="fas fa-arrow-left"></i></a>
    <img src="asets/imagen6.jpg" alt="">
    <a href="#image1" class="next"><i class="fas fa-arrow-right"></i></a>
    <a href="#" class="close">X</a>
   </article>

    <script src="https://kit.fontawesome.com/8ebf7ff831.js" crossorigin="anonymous"></script>
</body>
</html>