<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <input type="radio" name="progress" class="radio" value="five" id="five">
        <label for="five" class="label">5%</label>
        <input type="radio" name="progress" class="radio" value="twentyfive" id="twentyfive">
        <label for="twentyfive" class="label">25%</label>
        <input type="radio" name="progress" class="radio" value="fifty" id="fifty">
        <label for="fifty" class="label">50%</label>
        <input type="radio" name="progress" class="radio" value="seventyfive" id="seventyfive">
        <label for="seventyfive" class="label">75%</label>
        <input type="radio" name="progress" class="radio" value="onehundred" id="onehundred">
        <label for="onehundred" class="label">100%</label>
        <div class="progress">
            <div class="progress-bar"></div>
        </div>
    </div>
</body>
</html>