<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slider de Fotos de Ciudades</title>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="slider1.css">
</head>
<body>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="./Berlin.jpg" alt="Ciudad 1">
        <div class="description">Maratón de Berlín</div>
      </div>
      <div class="swiper-slide">
        <img src="Boston.jpg" alt="Ciudad 2">
        <div class="description">Maratón de Boston</div>
      </div>
      <div class="swiper-slide">
        <img src="Chicago.jpg" alt="Ciudad 3">
        <div class="description">Maratón de Chicago</div>
      </div>
      <div class="swiper-slide">
        <img src="Londres.jpg" alt="Ciudad 4">
        <div class="description">Maratón de Londres</div>
      </div>
      <div class="swiper-slide">
        <img src="NewYork.jpg" alt="Ciudad 5">
        <div class="description">Maratón de Nueva York</div>
      </div>
      <div class="swiper-slide">
        <img src="Tokio.jpg" alt="Ciudad 6">
        <div class="description">Maratón de Tokio</div>
      </div>
    </div>
    <!-- Agrega las flechas de navegación -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="script.js"></script>
</body>
</html>
